.header {
  width: 100%;
  height: 100px;
  text-align: center;

  h1 {
    margin: 0;
    width: 50%;
    margin: 35px auto;
    padding: 20px 0;
    background: #ff6600;
    border-radius: 5px;
    color: white;
  }
}